@font-face {
    font-family: 'invanders from space';
    src: url('../spaceInvadersFont/invandersfromspace.eot');
    src: url('../spaceInvadersFont/invandersfromspace.eot?#iefix') format('embedded-opentype'),
        url('../spaceInvadersFont/invandersfromspace.woff2') format('woff2'),
        url('../spaceInvadersFont/invandersfromspace.woff') format('woff'),
        url('../spaceInvadersFont/invandersfromspace.ttf') format('truetype'),
        url('../spaceInvadersFont/invandersfromspace.svg#invandersfromspace') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nasalization Rg';
    src: url('../nasaFont/NasalizationRg-Regular.eot');
    src: url('../nasaFont/NasalizationRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../nasaFont/NasalizationRg-Regular.woff2') format('woff2'),
        url('../nasaFont/NasalizationRg-Regular.woff') format('woff'),
        url('../nasaFont/NasalizationRg-Regular.ttf') format('truetype'),
        url('../nasaFont/NasalizationRg-Regular.svg#NasalizationRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



html{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;    
    font-family: 'Nasalization Rg';
    color: lightgrey;
    background-image: url("../images/background2.png");
    background-attachment:fixed;
    background-size:cover;
    background-position: center center;
}

body{
    position: relative;
    z-index: 5;
    justify-content: center;
    width: 100%;
    padding-top: 0;    
}


body header{
    overflow: hidden;
}

body header div{
    display: flex;
    align-items: center;
    justify-content: center;
}

body header>div{
    background-color: rgba(0,0,0,0.7);
}

/* baniere */
div figure#baniereblock{
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0;
}
figure#baniereblock img#baniere{
    z-index: 20;
    width: 100%;
    max-width: 1920px;
    max-height: 705px;
}


/* logo */
div#logokit{
    display: flex;
    align-items: center;
    border:  3px dashed white;
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 3%;
}
div#logokit div{
    text-align: left;
    flex-direction: column;
}
div#logokit div h1{
    font-weight: bold;
    font-size: 100%;
    margin: 0;
}
div#logokit div p#revolution{
    line-height: 0.3;
    font-size: 71%;
    margin: 0 0 0 -4px;
}
div#logokit figure#logoBlock{
    position: relative;
    z-index: 10;
    margin-left: 10px; 
}

img#logo{
    z-index: 20;
    width: 120px;
    height: 120px;
    border:  2px dotted royalblue;
    border-radius: 20%;
    margin-top: 3px;
    cursor: pointer;
}

header div:nth-child(2){
    z-index: 20;
}
/* debut effet burger */
header div a#burger{
    display: none;
}

#burgerBox{
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 60px;
    border: 1px solid #66E;
    border-radius: 20%;
}

#burgerBox span{
    width: 40px;
    height: 40px;
    animation: clignote 2s infinite;
}
#burgerBox span:first-child{
    border-top: 5px solid #66E;  
    border-radius:  15%;  
    margin-top: 10px;
    margin-bottom: -50px;
}
#burgerBox span:nth-child(2) {  
    border-bottom: 4px solid #66E;   
    margin: -17px 10px;
}
#burgerBox span:nth-child(3) {
    border-bottom: 5px solid #66E;
    border-radius:  15%;
    margin-top: -10px;
    margin-bottom: 15px;
}

@keyframes clignote {
    0% {        
        opacity: 0.6;
    }
    50% {
        opacity: 1;
        border-radius: 12%;        
    }
    100% {
        opacity: 0.6;
    }
}




nav{
    z-index: 20;
    background-color: rgba(0,0,0,0.7);
    border: 3px solid grey;
    border-radius: 15%;
    margin-right: 4%;
    justify-content: center;
}
/* menu */
nav ul#menu{
    justify-content: center;
}

nav>ul>li>dl{
    display: flex;
    position: relative;    
    font-size: 110%;
    padding: 5px 10px;
}

li a,dt,ul{
    text-decoration: none;
    list-style-type: none;
    color: lightgrey;
}
nav ul li{
    display: flex;
    align-items: center;
}
nav ul li a{
    display: block;
}


nav ul li:not(:last-child){
     border-right: 1px solid royalblue;
}

.sticky{    
    position: fixed;
    top: 0;
    width: 45%;
}


.showFlex{
    display: block;
}

.fix{
    
}

.hide{
    display: none;
}

/* sous menu */
#menu{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: lightgrey;
    padding: 0;
}

#menu dl{
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
}

main{
    position: relative;
    z-index: 10;
    letter-spacing: 2px;
    margin: 0;
}


/* debut effet indicateur Fleche */
main>a#arrowDown{
    position: absolute;
    z-index: 10;
    top:-4%;
    right: 30%;
    cursor: pointer;
}

#box span {
    width: 45px;
    height: 35px;
    display: block;
    border-right: 4px solid #33B;
    border-bottom: 3px solid #66E;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
#box span:  nth-child(2) {
    animation-delay: -0.2s;
}
#box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    20% {
        transform: rotate(41deg) translate(20px, 10px);
    }
    40% {
        transform: rotate(45deg) translate(20px, 10px);
    }
    50% {
        opacity: 1;
        transform: rotate(41deg) translate(20px, 10px);
        border-right: 4px solid #66C;
        border-bottom: 3px solid #88F;
    }    
    100% {
        opacity: 0;
    }
}
/* fin effet indicateur Fleche */

main h2{
    display: block;
    text-align: left;
    font-size: 3em;
    margin-bottom: 5%;
    margin-left: 15%;
}

main ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

main figure{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 10px 20px 0;
    cursor:pointer;
}

main figure img{
    z-index: 20;
    width: 500px;
    height: 210px;
}

main figure figcaption{
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 40px;
    width: 500px;    
    padding-left: 5px;
}


.image-hover{
    display: inline-block;
    position: relative;
    background: #000;
    width: 400px;
    height: 200px;
    margin-left: 2%;    
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.image-hover img{
    margin: 0;
}

.imagechange-3d-inner{
    position: absolute;
    top: 0px; 
    right: 0px; 
    bottom: 0px;
    left: 0px
}

.imagechange-3d .imgchange-1{
    opacity: 1;
}

.imagechange-3d:hover .imgchange-1{
    opacity: 0;
}

.imagechange-3d .imgchange-2{
    opacity: 0;
}

.imagechange-3d:hover .imgchange-2{
    opacity: 1;
}

.imgchange-1{
    position: absolute;
}

.imgchange-2{
    position: absolute;
}

.imagechange-3d div{
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
}

.imagechange-3d-inner{
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
    -moz-transform-style: preserve-3d;
    -moz-transition: all 1.0s linear;
}

.imagechange-3d:hover .imagechange-3d-inner{
    transform: rotateX(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.imgchange-2{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

/* fin effet rotation image*/ 

/*gestion des barres de séparation de la navbar*/
@media screen and (max-width: 1897px){
   
    nav ul li.fix:nth-child(6){
         border-right: 0 ;
    }

}
@media screen and (max-width: 1628px){
   
    nav ul li.fix:nth-child(5){
         border-right: 0 ;
    }
    nav ul li.fix:nth-child(6){
         border-right: 1px solid royalblue;
    }

}
@media screen and (max-width: 1359px){
   
    nav ul li.fix:nth-child(4){
         border-right: 0 ;
    }
    nav ul li.fix:nth-child(5){
         border-right: 1px solid royalblue;
    }

}
@media screen and (max-width: 1090px){
   
    nav ul li.fix:nth-child(3){
         border-right: 0 ;
    }
    nav ul li.fix:nth-child(4){
         border-right: 1px solid royalblue;
    }
    nav ul li.fix:nth-child(6){
         border-right: 0 ;
    }

}


/*responsive*/
@media screen and (max-width: 1500px){
    main>a{
        position: absolute;
        z-index: 10;
        top:0%;
        right: 20%;
    }

}
@media screen and (max-width: 1300px){
   
    main h2{
        font-size: 1.9em;
        margin-left: 10%;
        
    }

    main ul{
        justify-content: left;
    }

    
    main figure{
        display: flex;        
        width: 410px;
        margin-left: 5%;
        padding: 10px 180px 10px 0;
    }
    main figure img{
        width: 200px;
        height: 130px;
        margin-left: 5%;
    }
    main figure figcaption{
        font-weight: bold;
        font-size: 1.6em;
        line-height: 25px;
        width: 400px;
        padding-left: 5px;
    }

    div.imagechange-3d{
        margin-left: 3%;
    }
    .image-hover{
        width: 100%;
        height: 100px;
        margin-left: 0;
    }

}
@media screen and (max-width: 950px){

    div#logokit div h1{
        font-size: 80%;
        padding-left: 5px;
    }
    div#logokit div p#revolution{
        font-size: 80%;
        line-height: 0.3;
        margin: 0 0 0 -15px;
    }
    div#logokit figure#logoBlock{
        width: 50px;
    }
    img#logo{
        width: 70px;
        height: 70px;

    }   

    header div a#burger{
        display: block;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    nav ul li:nth-child(3){
         border-right: 1px solid royalblue ;
    }
    nav ul li:nth-child(4){
         border-right: 0;
    }
    nav ul li:nth-child(5){
        border-right: 1px solid royalblue ;
    }
    nav ul li:nth-child(6){
         border-right: 1px solid royalblue ;
    }

    nav{
        display: none;
    }

    main h2{
        display: flex;
        font-size: 1.5em;
        max-width:60%; 
        
    }

    main figure{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        margin-left: 0;
        padding: 10px 20px 10px 10px;
    }
    main figure img{
        width: 140px;
        height: 100px;
        margin: 0;
    }
    main figure figcaption{
        text-align: left;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 20px;
        width: 140px;        
        padding: 5px 0 0 8px;
    }


    .image-hover{
        width: 140px;
        height: 100px;        
    }

    main>a{
        position: absolute;
        z-index: 10;
        top:0%;
        right: 20%;
    }

}



@media screen and (max-width: 750px){

    nav ul li:nth-child(3){
        border-right: 0;
    }
    nav ul li:nth-child(4){
        border-right: 1px solid royalblue ;
    }
    nav ul li:nth-child(5){
        border-right: 1px solid royalblue ;
    }
    nav ul li:nth-child(6){
        border-right: 0;
    }

}

canvas#c{
    position: absolute;
    z-index: 10;
    top:0;
    right:0;
    min-width: 100%;
    max-width: 110%;
    min-height:100%;
    max-height:120%;
    margin-left: -10%;
}


footer{
    position: relative;
    z-index: 10;
    border: 4px solid black;
    font-size: 1.5rem;

}
footer section{
    display: flex;
    flex-wrap: wrap;
    z-index: 20;
    font-size: 1.1rem;
    background-color: rgba(0,0,0,0.8);
}

footer section figure#logoBlockFoot{
    position: absolute;

}
footer section figure#logoBlockFoot img{
    width: 70px;
    height: 60px;
}

footer section ul{
    flex:2;
    min-width: 300px;
}

footer section ul:last-child{
    flex:3;
}
footer section ul:last-child li{
    display: inline-block;
    padding-right: 10px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
footer ul:not(:last-child) li{
    padding: 6px 0 0 0; 
}

footer ul li a{
    font-weight: bold;
    color: lightgrey;  
}

ul li a:hover{
    color: white;
    border-radius: 20%;
    border-top:2px solid royalblue;
    border-bottom: 2px solid royalblue;
}

ul li a{
    -webkit-transition:all 0.5s ease-in-out;
    padding: 6px 0; 
}

footer ul:last-child li:hover{
    padding-bottom: 0px ;

}

footer ul:last-child li a:hover{
    display: flex;
    justify-content: center;
    border-radius: 20%;
    border-left: 2px solid royalblue;
    border-right: 2px solid royalblue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}



#logo1,#logo2,#logo3,#logo4{
    margin: 5px 5px;
    width: 40px;
    height: 40px;
}


#logo1:hover,#logo2:hover,#logo3:hover,#logo4:hover{

    color: white;
    border-radius: 20%;
    padding-bottom: 20px;
    padding-bottom: 0 !important;
}

main ul{
display: flex;
}

main ul li:nth-child(1){

    width: 700px;
    height: 700px;
}
main ul li:nth-child(2){
    width: 500px;
    height: 580px;
}

div#map{
    width: 800px;
    height: 600px;
    border-radius: 50% 50% 0 50%;

}


label{
    border-right: 2px solid #88F;
    border-bottom: 2px solid #88F;
    padding: 10px 10px 10px 0;
    margin-left: 200px;
    border-radius: 0 20px 20px 0;
    line-height: 5;
    background-color: rgba(0,0,0,1);
}
input#whereAreMeteorButton{
    width: 80px;
    height: 50px; 
    background-color: rgba(0,0,0,0);
    background-image: url("../images/debris3.png"); 
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 20px;


}

li canvas#canvas{
    width: 800px;
    height: 600px;
    background-color: rgba(0,0,0,0.6);
    margin-left: 210px;
    border-radius: 50% 50% 50% 5px;
}


div#tableau{
    text-align: center;
}

div#tableau>p{
    margin-bottom: 0;
}

div#tableau label{
    border-right: 2px solid #88F;
    border-bottom: 2px solid #88F;
    padding: 10px 10px 10px 0;

    border-radius: 20px 20px 20px 0;
    line-height: 5;
    background-color: rgba(0,0,0,1);
    margin-left: 156px;
}
div#tableau label:nth-child(2){
    margin-left: 40px;
}

td{
    text-align: center;
    padding:3px;
    position: relative;
    color: dimgrey;
    border-radius: 5%; 

} 
tr th{
    text-align: center;
    border-radius: 15%;
    color:#fff;
    background-color:rgba(0,0,0,0.5);
    min-width: 100px;
    
} 
table{
    border-radius: 1%;
    margin-left: 20%; 
}
table a{
    color:#000;
    text-decoration: none;
}
tbody{
    background-color:rgba(0,0,0,0.5);
}
tbody tr{
    background-color:rgba(124, 198, 245,0.85);
}
tbody tr:nth-child(even){
    background-color:rgba(205,225,255,0.85);
}

 
tbody .hoverColonne{
    background-color:yellowgreen;
}
 
tbody td.selectedCheckbox{
    background-color:green;
    color:#fff;
}
tbody td.selectedCheckbox a{ 
    color:#fff;
}
tbody td.selectedCellule{
    background-color:orange; 
    color:#000;
}
tbody td.selectedCellule a{ 
    color:#000;
}
tbody td:nth-child(6){
    background-color:black;
}
tbody td:nth-child(6) a{ 
    color:#fff;
}

tbody tr:hover td{
    background-color:yellowgreen;
    color:black;
}
p#infoArray{

}